*{

    background:green;
}

h1{
    text-align:center;
}

.divOne{
    width:200px;
    margin:0 auto;
}

.divOne img{
    width:100%;
}

.btnWrap{
    margin:20px 0;
    text-align: center;
}

.btnWrap button{
    padding:5px 10px;
    color:#fff;
}