* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
.btnWrap {
  width: 700px;
  margin: 0 auto;
  margin-top: 10px;
}
.btnWrap button {
  padding: 3px 10px;
  margin: 5px 0;
  cursor: pointer;
}
