* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  text-align: center;
}
body .canvasWrap {
  width: 800px;
  height: 500px;
  margin: 20px auto;
}
body .canvasWrap #canvas {
  width: 800px;
  height: 500px;
}
